<div class="list-group">
  <div class="list-group-item" 
  [class.active]="selected && playlist.id == selected.id"
  (click)="select(playlist)" 
  *ngFor="let playlist of playlists; 
              index as i; 
              trackBy trackFn;">
    {{ i+1 }}. {{ playlist.name }}
  </div>
</div>