<div class="row">
  <div class="col">
   
    <app-search-form 
      (queryChange)="search($event)">
    </app-search-form>

  </div>
</div>

<div class="row">
  <div class="col">
    <app-search-results [albums]="albums">
    </app-search-results>
  </div>
</div>