<div class="input-group mb-3" [formGroup]="queryForm">

  <input class="form-control" placeholder="Search" formControlName="query" #queryRef
    (keyup.enter)="search(queryRef.value)">

  <div class="input-group-append">
    <button class="btn btn-outline-secondary" (click)="search(queryRef.value)">
      Search
    </button>
  </div>
</div>

<ng-container *ngIf="queryForm.get('query') as field">
<ng-container *ngIf="field.touched || field.dirty">

  <div *ngIf="field.hasError('required')">
    Field is required
  </div>

  <div *ngIf="field.getError('minlength') as error">
    Query has to be be {{error.requiredLength}} letters long
  </div>

  <div *ngIf="field.getError('censor') as error">
    Query cannot include {{error.word}}
  </div>

</ng-container>
</ng-container>