<div [ngSwitch]="mode">

  <div *ngSwitchDefault>
    <dl [title]="playlist.name" [attr.data-id]="playlist.id">
      <dt>Name:</dt>
      <dd [style.fontSize.px]="8*2">{{playlist.name}}</dd>

      <dt>Favorite:</dt>
      <dd>{{playlist.favorite? 'Yes':'No' }}</dd>

      <dt>Color</dt>
      <dd [style.color]="playlist.color" [style.background-color]="playlist.color" [ngStyle]=" { 
                  'border-bottom': '1px solid ' + playlist.color,
                  'box-shadow': '1 px solid'
                }">{{playlist.color}}</dd>
    </dl>
    <input type="button" class="btn btn-info" value="Edit" (click)="edit()">
  </div>

  <div *ngSwitchCase=" MODES.edit ">
    
    <form #formRef="ngForm" (submit)="submit(formRef.value)">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" [ngModel]="playlist.name" name="name" #nameRef="ngModel">
        <!-- {{nameRef.value}} -->
      </div>

      <div class="form-group">
        <label>Favorite:</label>
        <input type="checkbox" [ngModel]="playlist.favorite" name="favorite">
      </div>

      <div class="form-group">
        <label>Color:</label>
        <input type="color" [ngModel]="playlist.color" name="color">
      </div>

      <input type="button" class="btn btn-danger" value="Cancel" (click)="cancel()">
      <input type="submit" class="btn btn-success" value="Save">
    </form>
  </div>

</div>