<!-- .row>.col*2 -->

<div class="row">

  <div class="col">
      <app-playlists-list 
        [items]="playlists"
        [selected]="selected"
        (selectedChange)="selected = $event">
      </app-playlists-list>

      <!-- <app-playlists-list 
        [items]="playlists"
        [(selected)]="selected">
      </app-playlists-list> -->
  </div>

  <div class="col">
    <app-playlist-details *ngIf="selected"
      (saveDraft)="save($event)"
      [playlist]="selected">
    </app-playlist-details>

    <p *ngIf="!selected">Please select playlist</p>
  </div>
  
</div>